/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 97%;
    margin: 0;
    padding: 0;
    background-color: #555555;
}

.error {
    color: #ff0000;
}

#info-box {
    background-color: white;
    border: 1px solid black;
    bottom: 50px;
    height: 25px;
    padding: 10px;
    position: absolute;
    left: 30px;
}

#legend {
    background-color: white;
    border: 1px solid black;
    bottom: 100px;
    height: 10%;
    padding: 10px;
    position: absolute;
    right: 15px;
}


/* nav bar stylings*/
ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: hidden;
    border: 1px solid #555555;
    list-style-type: none;
    background-color: #555555;
}


li {
    float: right;
    margin: 0;
    text-align: center;
}

li a {
    width: 100px;
    display: block;
    background-color: #555555;
    color: white;
    border: 1px solid #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

li button {
    width: 100px;
    display: block;
    background-color: #555555;
    color: white;
    border: 1px solid #444444;
    padding-top: 10px;
    padding-bottom: 9px;
    text-align: center;
}

li button:hover {
    background-color: #f1f1f1;
    color: black;
}

li strong {
    width: 100px;
    background-color: #555555;
    color: white;
    border: 1px solid #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}


li a:hover {
    background-color: #f1f1f1;
    color: black;
}