<!DOCTYPE html>
<html>
<head>
    <title>Welcome: AlphaTrails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/navigation.js"></script>
</head>

<body>

<div class="container">
    <h2>AlphaTrails</h2>

    <div class="imgcontainer">
        <img src="../assets/logo.png" alt="logo" class="logo">
    </div>

    <button type="button" class="loginbtn"
            onclick="navigateLogin()">Log In
    </button>
    <button type="button" class="signupbtn"
            onclick="navigateSignup()">Sign up
    </button>
</div>


</body>
</html>