<!DOCTYPE html>
<html>
<head>
    <title>Welcome: AlphaTrails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

<div class="container">
    <h2>AlphaTrails</h2>

    <div class="imgcontainer">
        <img src="../assets/logo.png" alt="logo" class="logo">
    </div>

    <button type="button" class="loginbtn"
            onclick="window.location.href='login.html'">Log In</button>
    <button type="button" class="signupbtn"
            onclick="window.location.href='signup.html'">Sign up
    </button>


    <!--        <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>-->
</div>


</body>
</html>