<!DOCTYPE html>
<html>
<head>
    <title>Login: AlphaTrails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/navigation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="validateUserController">

<h2>Login Form</h2>

<form name="myForm" ng-app="myApp" ng-submit="validateUser()">
    <div class="imgcontainer">
        <img src="../assets/logo.png" alt="logo" class="logo">
    </div>

    <div class="container">

        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <!-- Hidden div for adding error information such as bad password-->
        <div class="error">
            <p>{{error}}</p>
        </div>

        <button type="submit">Login</button>
    </div>

    <div class="container">
        <button type="button" class="cancelbtn"
                onclick="navigateHome()">Cancel
        </button>
    </div>
</form>
<script>
    var app = angular.module(['myApp'], []);
    app.controller('validateUserController', function validateUser($scope, $http) {
        $scope.validateUser = function () {
            console.log('submitting...');
            var email = document.forms["myForm"]["email"].value;
            if (email.indexOf("@", 0) < 0 || email.indexOf(".", 0) < 0) {
                alert("Please enter a valid email");
                return false;
            }
            var pass = document.forms["myForm"]["psw"].value;
            if (pass == "") {
                alert("Please enter a password");
                return false;
            }
            var request = $http({
                method: 'post',
                url: '/api/users/login',
                data: {
                    email: email,
                    psw: pass
                }
            });
            request.success((response) => {
                if (response.error == true) {
                    switch (response.message) {
                        case 'does not exist':
                            $scope.error = 'There is no account associated with this email';
                            break;
                        case 'wrong password' :
                            $scope.error = 'Incorrect password';
                            break;
                        default:
                            $scope.error = 'Internal server error, please try again later';
                            break;
                    }
                } else {
                    window.location.href = "/maps";
                }
            });
        }
    });
</script>
</body>
</html>