<!DOCTYPE html>
<html>
<head>
    <title>Alpha Trails</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/mapStyles.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $("#logoutLink").on("click", function (e) {
                $.post("/api/users/logout", function (data) {
                });
            });
        });
    </script>
    <script src="../js/maps.js"></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/" id="logoutLink">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>

<form name="myForm" action="/api/users/routes" onsubmit="return validateRouteName()" method="post" hidden id="myForm">

    <div class="container">

        <label for="name"><b>Route Name</b></label>
        <input type="text" placeholder="Enter Route Name" name="routeName" required>

        <!-- Add information validation script to check valid login info and email-->
        <button type="submit">Submit Name</button>
    </div>

    <div class="container">
        <button type="button" class="cancelbtn"
                onclick="hideForm()">Cancel
        </button>
    </div>
</form>

<div id="map"></div>
<div class="infoBox" id="info-box">distance = km</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEstDusQSA9UcvFkFoMmBJVPX02ifQVs&callback=initMap"
        async defer></script>
</body>
</html>