<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AlphaTrails</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/navigation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>

<body>

<div ng-app="myApp"
     ng-controller="myController">

    <table>
        <tr>
            <th>Route Name</th>
            <td>   </td>
            <th>Distance (Km)</th>
            <th>Image</th>
        </tr>

        <tr ng-repeat="loops in list">
            <td>{{loops.name}}</td>
            <td>   </td>
            <td>{{loops.distance}}</td>
            <td><img src="{{loops.imagePath}}" width="400"/></td>
        </tr>
    </table>

</div>
<!--
<h1>Pick a route!</h1>
-->
<div id="map">

</div>

<!--
    <div id="map">
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 47.105564, lng: -88.544112},
                    zoom: 15
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEstDusQSA9UcvFkFoMmBJVPX02ifQVs&callback=initMap"
                async defer> </script>
    </div>
-->
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myController',
        function ($scope, $http) {

            var request = {
                method: 'get',
                url: '/api/routes',
                dataType: 'json',
                contentType: "application/json"
            };

            $scope.arrRoutes = new Array;

            $http(request)
                .success(function (jsonData) {
                    $scope.arrRoutes = jsonData;
                    $scope.list = $scope.arrRoutes;
                })
                .error(function () {

                });
        });
</script>
</html>