<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $("#logoutLink").on("click", function (e) {
                $.post("/api/users/logout", function (data) {
                });
            });
        });
    </script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/" id="logoutLink">Logout</a></li>
        <li><a href="/maps">Maps</a></li>
    </ul>
</nav>

<div align="center" class="userInfo" ng-app="myApp" ng-controller="userInfoController">
    <h2><b>User Info</b></h2>
    <h3>Email: {{users[0].email}}</h3>
    <h3>Full Name: {{users[0].name}}</h3>
    <h3>Last Login: {{users[0].lastLogin}}</h3>
    <h3>User Role: {{users[0].role}}</h3>
</div>

<div align="center" class="favoriteRoutes">
    <h2><b>Saved Routes</b></h2>
</div>

</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('userInfoController', function ($scope, $http) {
        $http.get("/api/users/info")
            .then(function (response) {
                $scope.users = response.data;
            });
    });
</script>
</html>