<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
<input type="text" id="queryInput"/>
<h2>My Profile</h2>

<div class = "userInfo">
    <h2><b>User Information</b></h2>

</div>

<div class = "favoriteRoutes">
    <h2><b>Saved Routes</b></h2>
</div>

<div ng-app="myApp" ng-controller="userInfoController">

    <table>
        <tr ng-repeat="x in users">
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.lastLogin}}</td>
        </tr>
    </table>

</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('userInfoController', function ($scope, $http) {
        // URL doesn't appear to be working
        $http.get("/api/users/info")
            .then(function (response) {
                $scope.users = response.data;
            });
    });
</script>
</body>
</html>